
@{
    ViewBag.Title = "AgregarConsultorio";
}

    <section class="main">
        <article>
            <div class="wrapp">
                <div class="mensaje">
                    <h2>CONSULTORIOS</h2>
                </div>
                <form action="" method="post">
                    <h2>Agregar Consultorios</h2>
                    <label>Nombres: *</label>
                    <input requerid type="text" name="nombre" placeholder="Pediatria" />
                    <input type="submit" name="enviar" value="Agregar Consultorio">
                </form>
                
            </div>
        </article>
    </section>
