
@{
    ViewBag.Title = "AgregarEspecialidad";
}

    <section class="main">
        <article>
            <div class="wrapp">
                <div class="mensaje">
                    <h2>ESPECIALIDAD</h2>
                </div>
                <form action="" method="post">
                    <h2>Agregar Especialiadad</h2>
                    <input requerid type="text" name="nombre" placeholder="Especialiadad:" />
                    <input type="submit" name="enviar" value="Agregar Especialiadad">
                </form>
            </div>
        </article>

    </section>

