
@{
    ViewBag.Title = "AgregarUsuario";
}

    
<section class="main">
        <article>
            <div class="wrapp">

                <div class="mensaje">
                    <h2>USUARIOS</h2>
                </div>
                <form class="login" action="" method="post" name="login">
                    <h2>REGISTRAR USUARIOS</h2><br />
                    <input type="text" name="usuario" placeholder="Usuario" autofocus />
                    <input type="text" name="password" placeholder="Contraseña" />
                    <input type="text" name="password2" placeholder="Repita su contraseña" />
                    <input type="text" name="nombres" placeholder="Nombres" />
                    <input type="text" name="apellidos" placeholder="Apellidos" />
                    <select name="roll">
                        <option value="admin">Administrador</option>
                        <option value="Limitado">Usuario</option>
                    </select>
                    <input type="submit" value="Registrar" />
                    
                    
                </form>
                </div>
        </article>
    </section>