
@{
    ViewBag.Title = "citas";
}

    <section class="main">
        <article>
            <div class="wrapp">
                <div class="mensaje">
                    <h2>CITAS</h2>
                </div>
                <a class="agregar" @Html.ActionLink("Agregar Cita", "AgregarCita", "Home")></a>

                <table class="tabla">
                    <tr>
                        <th>#</th>
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th>Paciente</th>
                        <th>Medico</th>
                        <th>Consultorio</th>
                        <th>Estado</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                    <tr>
                        <td class='centrar'><a href='actualizarcitas.php' class='editar'>Editar</a></td>
                        <td class='centrar'><a href='eliminar_citas.php' idcita']."' class='eliminar'>Eliminar</a></td>
                    </tr>
                </table>
            </div>
        </article>

    </section>

