
@{
    ViewBag.Title = "especialidades";
}

<section class="main">
    <article>
        <div class="wrapp">
            <div class="mensaje">
                <h2>ESPECIALIDADES</h2>
            </div>
            <a class="agregar" href="agregarEspecialidades.php">Agregar Especialidades</a>
            <table class="tabla">
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th colspan="2">Opciones</th>
                </tr>

            </table>
        </div>
    </article>
</section>
