
@{
    ViewBag.Title = "medicos";
}

    <section class="main">
        <article>
            <div class="wrapp">
                <div class="mensaje">
                    <h2>MEDICOS</h2>
                </div>
              
                <a class="agregar" @Html.ActionLink("Agregar Medico", "AgregarMedico", "Home")></a>

                <table class="tabla">
                    <tr>
                        <th>Identificacion</th>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Correo</th>
                        <th>Cargo</th>
                        <th colspan="2">Opciones</th>

                    </tr>

                    <tr>
                    </tr>
                </table>
            </div>
        </article>
    </section>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>