
@{
    ViewBag.Title = "pacientes";
}

<section class="main">


    <article>
        <div class="wrapp">
            <div class="mensaje">
                <h2>PACIENTES</h2>
            </div>
            <a class="agregar" href="agregarpacientes.php">Agregar Paciente</a>
            <table class="tabla">
                <tr>
                    <th>Identificacion</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Fecha Nacimiento</th>
                    <th>Sexo</th>
                    <th colspan="2">Opciones</th>
                </tr>
            </table>
        </div>
    </article>
</section>

