
@{
    ViewBag.Title = "usuarios";
}
<section class="main">
    <article>
        <div class="wrapp">
            <div class="mensaje">
                <h2>USUARIOS</h2>
            </div>
            <a class="agregar" href="registrarusuarios.php">Agregar Usuarios</a>
            <table class="tabla">
                <tr>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Usuario</th>
                    <th>Roll</th>
                    <th colspan="2">Opciones</th>
                </tr>
            </table>
        </div>
    </article>
</section>

